{% extends 'PrhBlogBundle::base.html.twig' %}

{% block content %}
    <h1 class="page-header">{% if subscriber.id is defined %}Update the{% else %}Create a new{% endif %} subscriber</h1>

    {% include "PrhBlogBundle::flash.html.twig" %}

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">Subscriber form</h3>
        </div>

        <div class="panel-body">
            {{ form_start(form, {'attr': { 'class': '', 'role': 'form' } } ) }}

            <div class="row">
                <div class="text-danger">
                    {{ form_errors(form) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="subscriber_name">Name</label>
                        {{ form_widget(form.name, { 'attr': { 'class': 'form-control' } } ) }}
                        <div class="text-danger">{{ form_errors(form.name) }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="subscriber_state">State</label>
                        {{ form_widget(form.state, { 'attr': { 'class': 'form-control' } } ) }}
                        <div class="text-danger">{{ form_errors(form.state) }}</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="subscriber_email">Email</label>
                        {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } } ) }}
                        <div class="text-danger">{{ form_errors(form.email) }}</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        {% if subscriber.id is defined %}<a class="btn btn-warning pull-right" onclick="if (confirm('Are you sure?')) window.location.href='{{ path('prh_blog_subscriber_delete', {'id': subscriber.id}) }}'" role="button">Delete</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
